body {
    padding-top: 10em;
    padding-bottom: 40px;
    background-color: #2F6593;
}

.form-signin {
    max-width: 30em;
    padding: 3em;
    margin: 0 auto;
    border-color: #C3C8CD;
    border-radius: 5px;
    background-color: #90C0E4;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
#login_input_password::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f023 '; color:#326994;}
#login_input_password::-moz-placeholder::before  { font-family: fontAwesome; content:'\f023'; color: #326994 } /* firefox 19+ */
#login_input_password:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f023'; color: #326994 } /* ie */
#login_input_password:-moz-placeholder::before  { font-family: fontAwesome; content:'\f023'; color: #326994 }

#login_input_username::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f007'; color: #326994 }
#login_input_username::-moz-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #326994 } /* firefox 19+ */
#login_input_username:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #326994 } /* ie */
#login_input_username:-moz-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #326994 }
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background-color: #EFF4F8!important;
    border: solid 1px#2F5D81;
    margin-top: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    width:21em!important;
}
.form-signin input[type="email"] {
    width:21em!important;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    width:21em!important;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.logininfo{padding-top:20px;text-align:center;}
.loginerror{padding-top:20px;text-align:center;color:red;}
.form-signin h1{text-align:center;padding:0px;border:none;font-size:2.5em!important;font-weight:900;}
button#login{
    background:url('../images/Login.png') no-repeat;
    cursor:pointer;
    border:none;
    width:17.2em;
    height:4.3em;
    float:center;
    display:block;
    position:relative;
    margin:0 auto;}
button#login:hover{
    opacity:0.9;
}
.flag{margin:0 auto;display:block;}
